@import './variable.styl'
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  
ellipsis(n) 
  overflow : hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-line-clamp: n
  -webkit-box-orient: vertical
  
header-fixed()
  overflow: hidden
  position: fixed
  left: 0
  right: 0
  top: 0
  height: $header-height
  line-height: $header-height
  background: $theme-bgcolor
  color: $theme-color

text-shadow() {
  text-shadow: 1px 0 0 rgba(0,0,0,.15)
}