@import './variable.styl'
/* 清除内外边距 */
body
h1
h2
h3
h4
h5
h6
hr
p
blockquote
dl
dt
dd
ul
ol
li
pre
fieldset
lengend
button
input
textarea
th
td
  margin: 0 
  padding: 0

body
button
input
select
textarea
  font: $font-size-small/1 Arial,Helvetica,sans-serif;

h1
  font-size: $font-size-large
h2
  font-size: $font-size-medium-x;
h3
  font-size: $font-size-medium 
h4
h5
h6
  font-size: 100%;

address
cite
dfn
em
var
  font-style: normal

code
kbd
pre
samp
tt
  font-family: "Courier New", Courier, monospace

small
  font-size: $font-size-small

ul
ol
  list-style: none

a
  text-decoration: none
  cursor: pointer

abbr[title]
acronym[title] 
  border-bottom: 1px dotted
  cursor: help

q:before
q:after
  content: ''

legend
  color: #333
fieldset
img
  border: none

button
input
select
textarea
  font-size: 100%

table
  border-collapse: collapse
  border-spacing: 0

hr
  border: none
  height: 1px

html
  overflow-y: scroll
body 
  background: $theme-color
  color: $font-color
a, b, blockquote, body, button, caption, dd, del, div, dl, dt, em, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, i, ins, legend, li, menu, ol, p, pre, s, span, strong, table, td, textarea, th, u, ul
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
html
  touch-action: manipulation;
