// 颜色变量
$theme-bgcolor = #313638
$theme-color = #fff
$theme-color-d = #ccc
$font-color = #333
$font-color-l = #666
$font-color-tran-l = rgba(102, 102, 102, .6)
$border-color = #eaeaea
$highlight-color = #507daf
$trans-color = rgba(244, 244, 244, .1)

// 字体大小变量
$font-size-small-s = .36rem
$font-size-small = .4rem
$font-size-medium = .42rem
$font-size-medium-x = .46rem
$font-size-large = .64rem

// 其它公共变量
$header-height = 1.706667rem